{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-md">
        <h3>Загрузите книгу:</h3>
        {{ form_start(form_for_book_parsing) }}
        {{ form_errors(form_for_book_parsing) }}
        {{ form_errors(form_for_book_parsing.book_file) }}
        {{ form_widget(form_for_book_parsing.book_file) }}
        {{ form_help(form_for_book_parsing.book_file) }}
        <button type="submit" class="btn btn-primary">Отправить</button>
        {{ form_end(form_for_book_parsing) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}