{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-md">
        <h3>Статистика загрузки книг по авторам:</h3>
        <table class="table">
            <tr>
                <th>Автор</th>
                <th>Количество загруженных книг</th>
            </tr>
            {% for book_by_author in books_by_author %}
                <tr>
                    <td>{{ book_by_author.author_name }}</td>
                    <td>{{ book_by_author.book_count }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="container-md">
        <h3>Список авторов, не имеющих книг в БД:</h3>
        <table class="table">
            <tr>
                <th>Имя автора</th>
            </tr>
            {% for author_without_books in authors_without_books %}
                <tr>
                    <td>{{ author_without_books.author_name }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="container-md">
        <h3>Статистика загрузки книг по дням:</h3>
        <table class="table">
            <tr>
                <th>Дата</th>
                <th>Количество загруженных книг</th>
            </tr>
            {% for book_by_day in books_by_day %}
                <tr>
                    <td>{{ book_by_day.date }}</td>
                    <td>{{ book_by_day.book_count }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}