{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-md">
        <h3>Введите название книги:</h3>
        {{ form_start(form_for_book_search) }}
        {{ form_errors(form_for_book_search.title) }}
        {{ form_widget(form_for_book_search.title) }}
        {{ form_help(form_for_book_search.title) }}
        <button type="submit" class="btn btn-primary">Отправить</button>
        {{ form_end(form_for_book_search) }}
    </div>
    {% if with_search_result %}
        <div class="container-md">
            <h3>Результаты поиска: </h3>
            {% if search_result %}
                <table class="table">
                    <tr>
                        <th>Название книги</th>
                        <th>Автор</th>
                        <th>Язык</th>
                    </tr>
                    <tr>
                        <td>{{ search_result.title }}</td>
                        <td>{{ search_result.author.name }}</td>
                        <td>{{ search_result.lang }}</td>
                    </tr>
                </table>
            {% else %}
                <span>Книга не найдена</span>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
